.header{
    border: 2px solid black; 
    background-color: black;
    width: 100%;
    color: white;
    width: 100%;
    height: 400px;
    
    
}
.offer-content{
     width: 200px;
    /* padding:0.5em ;
    height: 200px; */
    background-color: white;
}
.second-header{
    border: 2px solid black;
        background-color: black;
        width: 100%;
        color: white;
        width: 100%;
        height: 400px;
}
.gss{
    /* border: 2px solid white; */
    margin: auto;
        padding: auto;
        justify-content: center;
        margin-left: 35em;
        /* margin-top: 10em; */
}
/* From Uiverse.io by AlimurtuzaCodes */
.btn {
    border: none;
    width: 15em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}

.sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
}

.text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
}

.btn:hover {
    background: linear-gradient(0deg, #A47CF3, #683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
        inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
        0px 0px 0px 4px rgba(255, 255, 255, 0.2),
        0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
}

.btn:hover .text {
    color: white;
}

.btn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
}